.card{
    margin:40px 0px;
    display: flex;
    align-items: left;
    border: none;
    padding: 20px;
    .ticket-card{
        
            margin:4px;
        
    }
    .profile-img{
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
    a{
        color:#000;
        text-decoration: none;
        &:active{
            color:#000;
            text-decoration: none;
        }
    }
  }